/* Sohn */
@font-face {
  font-family: "Söhne";
  src: url(/fonts/Sohne/Sohn-Thin.otf) format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "Söhne";
  src: url(/fonts/Sohne/Sohn-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Söhne";
  src: url(/fonts/Sohne/Sohn-Medium.otf) format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Söhne";
  src: url(/fonts/Sohne/Sohn-SemiBold.otf) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Söhne";
  src: url(/fonts/Sohne/Sohn-Bold.otf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Söhne";
  src: url(/fonts/Sohne/Sohn-ExtraBold.otf) format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "Söhne";
  src: url(/fonts/Sohne/Sohn-Black.otf) format("opentype");
  font-weight: 900;
}
